/*----------------
common
-----------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
}
body {
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	color: #333;
	background-color: #fff;
	line-height: 1.6;
	font-size: 14px;
	/*font-size: 12px;*/
}

html,body {
	height: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, img, strong,
sub, sup, var, b, dl,dt, dd, ol, ul, li,
form, label, table, tbody, tfoot, thead,
tr, th, td, footer, header, hgroup, menu,
nav, section {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #333;
	margin: 0;
	padding: 0;
}
a:hover { text-decoration: underline; }
a:hover img { opacity: 0.8; }

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.l { float: left; }
.r { float: right; }

.col2 { width: 50%; }

.mgt-0 { margin-top: 0 }
.mgt-10 { margin-top: 10px }
.mgt-20 { margin-top: 20px }
.mgt-30 { margin-top: 30px }
.mgt-40 { margin-top: 40px }
.mgt-50 { margin-top: 50px }
.mgt-60 { margin-top: 60px }
.mgt-70 { margin-top: 70px }
.mgt-80 { margin-top: 80px }
.mgt-90 { margin-top: 90px }
.mgt-100 { margin-top: 100px }
.mgb-10 { margin-bottom: 10px }
.mgb-20 { margin-bottom: 20px }
.mgb-30 { margin-bottom: 30px }
.mgb-40 { margin-bottom: 40px }
.mgb-50 { margin-bottom: 50px }
.mgb-60 { margin-bottom: 60px }
.mgb-70 { margin-bottom: 70px }
.mgb-80 { margin-bottom: 80px }
.mgb-90 { margin-bottom: 90px }
.mgb-100 { margin-bottom: 100px }
.pdt-0 { padding-top: 0 }
.pdt-10 { padding-top: 10px }
.pdt-20 { padding-top: 20px }
.pdt-30 { padding-top: 30px }
.pdt-40 { padding-top: 40px }
.pdt-50 { padding-top: 50px }
.pdt-60 { padding-top: 60px }
.pdt-70 { padding-top: 70px }
.pdt-80 { padding-top: 80px }
.pdt-90 { padding-top: 90px }
.pdt-100 { padding-top: 100px }
.pdb-0 { padding-bottom: 0 }
.pdb-10 { padding-bottom: 10px }
.pdb-20 { padding-bottom: 20px }
.pdb-30 { padding-bottom: 30px }
.pdb-40 { padding-bottom: 40px }
.pdb-50 { padding-bottom: 50px }
.pdb-60 { padding-bottom: 60px }
.pdb-70 { padding-bottom: 70px }
.pdb-80 { padding-bottom: 80px }
.pdb-90 { padding-bottom: 90px }
.pdb-100 { padding-bottom: 100px }

.mgt-0-im { margin-top: 0 !important; }
.mgt-10-im { margin-top: 10px !important; }
.mgt-20-im { margin-top: 20px !important; }
.mgt-30-im { margin-top: 30px !important; }
.mgt-40-im { margin-top: 40px !important; }
.mgt-50-im { margin-top: 50px !important; }
.mgt-60-im { margin-top: 60px !important; }
.mgt-70-im { margin-top: 70px !important; }
.mgt-80-im { margin-top: 80px !important; }
.mgt-90-im { margin-top: 90px !important; }
.mgt-100-im { margin-top: 100px !important; }
.mgb-10-im { margin-bottom: 10px !important; }
.mgb-20-im { margin-bottom: 20px !important; }
.mgb-30-im { margin-bottom: 30px !important; }
.mgb-40-im { margin-bottom: 40px !important; }
.mgb-50-im { margin-bottom: 50px !important; }
.mgb-60-im { margin-bottom: 60px !important; }
.mgb-70-im { margin-bottom: 70px !important; }
.mgb-80-im { margin-bottom: 80px !important; }
.mgb-90-im { margin-bottom: 90px !important; }
.mgb-100-im { margin-bottom: 100px !important; }
.pdt-0-im { padding-top: 0 !important; }
.pdt-10-im { padding-top: 10px !important; }
.pdt-20-im { padding-top: 20px !important; }
.pdt-30-im { padding-top: 30px !important; }
.pdt-40-im { padding-top: 40px !important; }
.pdt-50-im { padding-top: 50px !important; }
.pdt-60-im { padding-top: 60px !important; }
.pdt-70-im { padding-top: 70px !important; }
.pdt-80-im { padding-top: 80px !important; }
.pdt-90-im { padding-top: 90px !important; }
.pdt-100-im { padding-top: 100px !important; }
.pdb-0-im { padding-bottom: 0 !important; }
.pdb-10-im { padding-bottom: 10px !important; }
.pdb-20-im { padding-bottom: 20px !important; }
.pdb-30-im { padding-bottom: 30px !important; }
.pdb-40-im { padding-bottom: 40px !important; }
.pdb-50-im { padding-bottom: 50px !important; }
.pdb-60-im { padding-bottom: 60px !important; }
.pdb-70-im { padding-bottom: 70px !important; }
.pdb-80-im { padding-bottom: 80px !important; }
.pdb-90-im { padding-bottom: 90px !important; }
.pdb-100-im { padding-bottom: 100px !important; }

.font-s { font-size: 80%; }
.font-l { font-size: 120%; }

.txt-l { text-align: left !important; }
.txt-r { text-align: right !important; }
.txt-c { text-align: center !important; }

.indent {
	padding-left: 1em;
	text-indent: -1em;
}

.color-gray { color:#a7a7a7 !important; }
.color-wh { color:#fff !important; }
.color-yellow { color:#FFF300 !important; }
.color-hot-pink { color:#E7007F !important; }
.color-red { color:#c60202 !important; }

/*----------------
module
-----------------*/
.inner {
	width: 1024px;
	margin: 0 auto;
}

.brackets-num-list {
	counter-reset: count;
}
.brackets-num-list > li {
	counter-increment: count;
	list-style-type: none;
	margin-bottom: 10px;
	position: relative;
	padding-left: 1.7em;
}
.brackets-num-list > li:before {
	width: 1.5em;
	display: marker;
	content: "(" counter(count) ")";
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
}
.brackets-num-list > li:last-child {
	margin-bottom: 0;
}

.list-disc {

}
.list-disc > li {
	display: block;
	margin-bottom: 10px;
	padding-left: 1em;
}
.list-disc > li:before {
	content: "・";
	display: block;
	float: left;
	margin-left: -1em;
	width: 1em;
	text-align: center;
}
.list-disc > li:last-child {
	margin-bottom: 0;
}

.list-none {
	
}
.list-none > li {
	margin-bottom: 10px;
	list-style-type: none;
}
.list-none > li:last-child {
	margin-bottom: 0;
}

.visible-block-pc { display: block !important; }
.visible-inline-block-pc { display: inline-block !important; }
.visible-inline-pc { display: inline !important; }
.visible-block-sp { display: none !important; }
.visible-inline-block-sp { display: none !important; }
.visible-inline-sp { display: none !important; }
.visible-block-xsp { display: none !important; }
.visible-inline-block-xsp { display: none !important; }
.visible-inline-xsp { display: none !important; }
@media (max-width: 768px) {
	.inner {
		width: 640px;
	}
	.visible-block-pc { display: none !important; }
	.visible-inline-block-pc { display: none !important; }
	.visible-inline-pc { display: none !important; }
	.visible-block-sp { display: block !important; }
	.visible-inline-block-sp { display: inline-block !important; }
	.visible-inline-sp { display: inline !important; }
}
@media (max-width: 640px) {
	.inner {
		width: 100%;
	}
	.visible-block-xsp { display: block !important; }
	.visible-inline-block-xsp { display: inline-block !important; }
	.visible-inline-xsp { display: inline !important; }
}

