/*---------------------
 kv
---------------------*/
.container .main .kv {
	background-color: #424242;
	padding: 40px 0 40px;
}

.container .main .kv a {
	color: #00d9ff;
	text-decoration: none;
	outline: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.container .main .kv a:hover,
.container .main .kv a:focus {
	color: #c2f6ff;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.container .main .kv .ttl {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #fff;
}

.container .main .kv .sttl {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #fff;
}

.container .main .kv .txt {
	font-size: 14px;
	color: #a7a7a7;
}

@media (max-width: 640px) {
	.container .main .kv {
		background-color: #424242;
		padding: 40px 10px 40px;
	}
}



/*---------------------
 kv-mini
---------------------*/
.container .main .kv-mini {
	
}
.container .main .kv-mini .inner {
	width: 1024px;
	margin: 0 auto;
	padding: 25px 0;
}
.container .main .kv-mini .ttl {
	font-size: 24px;
}
@media (max-width: 640px) {
	.container .main .kv-mini .inner {
		width: auto;
		padding: 25px 0;
	}
}



/*---------------------
 ribbon
---------------------*/
.container .main .ribbon {
	width: 100%;
	height: 144px;
	background-color: #009587;
}
.container .main .ribbon.bgc-yellow {
	background-color: #FDD835;
}



/*---------------------
 item-list
---------------------*/
.item-list {
	overflow: hidden;
	margin-right: -10px;
	margin-bottom: -10px;
	padding: 40px 0;
}
.item-list > li {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	float: left;
	width: 334px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.item-list > li .thum {
	background: #333 no-repeat center top;
	background-size: cover;
	height: 150px;
	width: 100%;
	position: relative;
}
.item-list > li .thum .ttl {
	background: transparent -webkit-linear-gradient(to top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
	background: transparent -moz-linear-gradient(to top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
	background: transparent linear-gradient(to top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 40px 10px 10px;
	position: absolute;
	left: 0;
	line-height: 1.4;
	bottom: 0;
	width: 100%;
}
.item-list > li .caption {
	padding: 10px;
}
.item-list > li .caption a {
	color: #2979ff;
	text-decoration: none;
	outline: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.item-list > li .caption a:hover,
.item-list > li .caption a:focus {
	color: #94BCFF;
	text-decoration: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.item-list > li .caption .ttl {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 10px;
}
.item-list > li .caption .txt {
	color: #a7a7a7;
	font-size: 14px;
	margin-bottom: 10px;
}
.item-list > li .caption .dl-list {

}
.item-list > li .caption .dl-list > dt {
	color: #a7a7a7;
	font-size: 14px;
	border-left: 3px solid #808080;
	margin-bottom: 10px;
	padding-left: 5px;
}
.item-list > li .caption .dl-list > dd {
	color: #a7a7a7;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 8px;
}
@media (max-width: 768px) {
	.item-list > li {
		width: 315px;
	}
}
@media (max-width: 640px) {

	.item-list {
		margin-right: 0;
		padding: 40px 10px;
	}
	.item-list > li {
		float: none;
		width: 100%;
		margin: 0 auto 10px;
	}
	.item-list > li:last-child {
		margin-bottom: 0; 
	}

}