/*----------------
 container
----------------*/
.container {
	background-color: #f5f5f5;
	width: 100%;
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}


/*----------------
 header
----------------*/
.header {
	background: #FBC02D;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: #fff;
	position: relative;
	left:0;
	top: 0;
	width: 100%;
}
.header a {
	color: #fff;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.header a:hover,
.header a:focus,
.header a.on {
	color: #00D9FF;
	text-decoration: none;
	outline: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.header .navbar {
	height: 80px;
	position: relative;
	width: 1024px;
	margin: 0 auto;
}

.header .navbar .logo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	margin: auto 0;
	height: 60px;
	width: 60px;
}

.header .navbar .logo > a {
	background: transparent url('../img/logo-wh.png') no-repeat center center;
	background-size: contain;
	display: block;
	text-decoration: none;
	outline: none;
	width: 100%;
	height: 100%;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.header .navbar .logo > a:hover,
.header .navbar .logo > a:active {
	opacity: .8;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.header .navbar .btn-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;
	width: 28px;
	height: 28px;
}

.header .navbar .btn-menu > a {
	background: transparent url('../img/btn-menu-wh.png') no-repeat center center;
	background-size: cover;
	display: block;
	text-decoration: none;
	outline: none;
	height: 28px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.header .navbar .btn-menu > a:hover,
.header .navbar .btn-menu > a:focus,
.header .navbar .btn-menu > a.on {
	background-image: url('../img/btn-menu-wh-on.png');

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

@media (max-width: 768px) {

	.header .navbar {
		width: 100%;
		margin: 0 auto;
	}
	.header .navbar .logo {
		left: 10px;
	}
	.header .navbar .btn-menu {
		right: 10px;
	}
}


/*----------------
 main
----------------*/
.main {
	padding-bottom: 20px;
}

/*----------------
 footer
----------------*/
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px
}
.footer .copyright {
	text-align: center;
}

/*----------------
 barrier
----------------*/
.barrier {
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 100;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.barrier.bgc-wh {
	background-color: rgba(255,255,255,1);
}
.barrier.on,
.barrier-wh.on {
	width: 100%;
	height: 100%;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


/*-----------------
 loading-cover
------------------*/
.loading-cover {
	background: #fff;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.loading-cover.off {
	display: none;
}

.loading-cover-in {
	width: 170px;
	height: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -10px -85px;
}

.loading-cover-in > p {
	height: 20px;
	width: 20px;
	background: #ee879d;
	border-radius: 50%;
	position: absolute;
	-webkit-animation: loading-anim 1.4s ease infinite;
	-moz-animation: loading-anim 1.4s ease infinite;
	-o-animation: loading-anim 1.4s ease infinite;
	animation: loading-anim 1.4s ease infinite;
}

.loading-cover-in > p:nth-child(2) {
	background: #f2c449;
	-webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	-o-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-animation-delay: .08s;
	-moz-animation-delay: .08s;
	-o-animation-delay: .08s;
	animation-delay: .08s;
}

.loading-cover-in > p:nth-child(3) {
	background: #77c044;
	-webkit-transform: translateX(60px);
	-moz-transform: translateX(60px);
	-o-transform: translateX(60px);
	transform: translateX(60px);
	-webkit-animation-delay: .16s;
	-moz-animation-delay: .16s;
	-o-animation-delay: .16s;
	animation-delay: .16s;
}

.loading-cover-in > p:nth-child(4) {
	background: #42c1cc;
	-webkit-transform: translateX(90px);
	-moz-transform: translateX(90px);
	-o-transform: translateX(90px);
	transform:translateX(90px);
	-webkit-animation-delay: .24s;
	-moz-animation-delay: .24s;
	-o-animation-delay: .24s;
	animation-delay: .24s;
}

.loading-cover-in > p:nth-child(5) {
	background: #83b6e6;
	-webkit-transform: translateX(120px);
	-moz-transform: translateX(120px);
	-o-transform: translateX(120px);
	transform: translateX(120px);
	-webkit-animation-delay: .32s;
	-moz-animation-delay: .32s;
	-o-animation-delay: .32s;
	animation-delay: .32s;
}

.loading-cover-in > p:nth-child(6) {
	background: #838ae6;
	-webkit-transform: translateX(150px);
	-moz-transform: translateX(150px);
	-o-transform: translateX(150px);
	transform: translateX(150px);
	-webkit-animation-delay: .40s;
	-moz-animation-delay: .40s;
	-o-animation-delay: .40s;
	animation-delay: .40s;
}

@-webkit-keyframes loading-anim {
	0%{left: 0px; top: 0px;}
	5%{left: -2px; top: 4px; width: 24px; height: 16px; -webkit-filter: blur(0.1px);}
	10%{left: -1px; top: 4px; width: 22px; height: 18px; -webkit-filter: blur(0.1px);} 
	/*halfway up*/
	15%{left: 1px; top: -17px; width: 18px; height: 22px; -webkit-filter: blur(0.3px);} 
	/*top*/
	22%{left: 0px; top: -34px; width: 20px; height: 20px; -webkit-filter: blur(0.2px);} 
	/*halfway down*/
	29%{left: 1px; top: -17px; width: 18px; height: 22px; -webkit-filter: blur(0.3px);} 
	/*bottom*/
	34%{left: 1px; top: 0px;  width: 18px; height: 22px; -webkit-filter: blur(0.2px);}
	/*elastic bottom*/
	40%{left: -1px; top: 4px; width: 22px; height: 18px; -webkit-filter: blur(0.1px);} 
	/*end*/
	43%{left: 0px; top: 0px; width: 20px; height: 20px; -webkit-filter: blur(0px);} 
	100%{left: 0px; top: 0px;}
}

@-moz-keyframes loading-anim {
	0%{left: 0px; top: 0px;}
	5%{left: -2px; top: 4px; width: 24px; height: 16px; -moz-filter: blur(0.1px);}
	10%{left: -1px; top: 4px; width: 22px; height: 18px; -moz-filter: blur(0.1px);} 
	/*halfway up*/
	15%{left: 1px; top: -17px; width: 18px; height: 22px; -moz-filter: blur(0.3px);} 
	/*top*/
	22%{left: 0px; top: -34px; width: 20px; height: 20px; -moz-filter: blur(0.2px);} 
	/*halfway down*/
	29%{left: 1px; top: -17px; width: 18px; height: 22px; -moz-filter: blur(0.3px);} 
	/*bottom*/
	34%{left: 1px; top: 0px;  width: 18px; height: 22px; -moz-filter: blur(0.2px);}
	/*elastic bottom*/
	40%{left: -1px; top: 4px; width: 22px; height: 18px; -moz-filter: blur(0.1px);} 
	/*end*/
	43%{left: 0px; top: 0px; width: 20px; height: 20px; -moz-filter: blur(0px);} 
	100%{left: 0px; top: 0px;}
}

@-o-keyframes loading-anim {
	0%{left: 0px; top: 0px;}
	5%{left: -2px; top: 4px; width: 24px; height: 16px; -o-filter: blur(0.1px);}
	10%{left: -1px; top: 4px; width: 22px; height: 18px; -o-filter: blur(0.1px);} 
	/*halfway up*/
	15%{left: 1px; top: -17px; width: 18px; height: 22px; -o-filter: blur(0.3px);} 
	/*top*/
	22%{left: 0px; top: -34px; width: 20px; height: 20px; -o-filter: blur(0.2px);} 
	/*halfway down*/
	29%{left: 1px; top: -17px; width: 18px; height: 22px; -o-filter: blur(0.3px);} 
	/*bottom*/
	34%{left: 1px; top: 0px;  width: 18px; height: 22px; -o-filter: blur(0.2px);}
	/*elastic bottom*/
	40%{left: -1px; top: 4px; width: 22px; height: 18px; -o-filter: blur(0.1px);}
	/*end*/
	43%{left: 0px; top: 0px; width: 20px; height: 20px; -o-filter: blur(0px);} 
	100%{left: 0px; top: 0px;}
}

@keyframes loading-anim {
	0%{left: 0px; top: 0px;}
	5%{left: -2px; top: 4px; width: 24px; height: 16px; filter: blur(0.1px);}
	10%{left: -1px; top: 4px; width: 22px; height: 18px; filter: blur(0.1px);} 
	/*halfway up*/
	15%{left: 1px; top: -17px; width: 18px; height: 22px; filter: blur(0.3px);} 
	/*top*/
	22%{left: 0px; top: -34px; width: 20px; height: 20px; filter: blur(0.2px);} 
	/*halfway down*/
	29%{left: 1px; top: -17px; width: 18px; height: 22px; filter: blur(0.3px);} 
	/*bottom*/
	34%{left: 1px; top: 0px;  width: 18px; height: 22px; filter: blur(0.2px);}
	/*elastic bottom*/
	40%{left: -1px; top: 4px; width: 22px; height: 18px; filter: blur(0.1px);} 
	/*end*/
	43%{left: 0px; top: 0px; width: 20px; height: 20px; filter: blur(0px);} 
	100%{left: 0px; top: 0px;}
}


/*-----------------
 modal-box
-----------------*/
.modal-overlay {
	background: rgba(0,0,0,0.65);
	display: none;
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	outline: 0;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.modal-box {
	display: none;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	margin: 30px auto;
	width: 640px;
	z-index: 1010;
}
.modal-box .modal-box-container {
	position: relative;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modal-box .modal-box-container .modal-box-header {
	overflow: hidden;
}
.modal-box .modal-box-container .modal-box-header .ttl {
	float: left;
	font-size: 18px;
	line-height: 1.2;
	font-weight: bold;
	padding: 15px 15px 10px;
}
.modal-box .modal-box-container .modal-box-header .modal-btn-close {
	float: right;
	width: 50px;
	height: 30px;
}
.modal-box .modal-box-container .modal-box-header .modal-btn-close > a {
	background: #b71c1c url("../img/common/modal-btn-close-wh.png") no-repeat center center;
	background-size: 20px;
	display: block;
	width: 100%;
	height: 100%;
}
.modal-box .modal-box-container .modal-box-content {
	padding: 15px;
}
.modal-box .modal-box-container .modal-box-footer {
	margin-top: 5px;
	border-top: 1px solid #ededed;
	padding: 14px 15px 15px;
}
.modal-box .modal-box-container .modal-box-footer .btn-list {
	overflow: hidden;
}
.modal-box .modal-box-container .modal-box-footer .btn-list li {
	float: left;
	margin-right: 15px; 
}
.modal-box .modal-box-container .modal-box-footer .btn-list li > a {
	background-color: #333;
	color: #FFF;
	display: block;
	font-weight: bold;
	padding: 10px 15px;

	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.modal-box .modal-box-container .modal-box-footer .btn-list li > a:hover,
.modal-box .modal-box-container .modal-box-footer .btn-list li > a:active {
	background: #424242;
	text-decoration: none;

	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.modal-box .modal-box-container .modal-box-footer .btn-list li > a.blue {
	background-color: #2979FF;
}
.modal-box .modal-box-container .modal-box-footer .btn-list li > a.blue:hover,
.modal-box .modal-box-container .modal-box-footer .btn-list li > a.blue:active {
	background: #0288D1;
}
.list-vr .content .item-area .item-area-in .item-list > li .item-in .caption .btn-list > li > a.green {
	background-color: #4CAF50;
}
.modal-box .modal-box-container .modal-box-footer .btn-list li > a.green:hover,
.modal-box .modal-box-container .modal-box-footer .btn-list li > a.green:active {
	background: #388E3C;
}


@media (max-width: 640px) {

	.modal-box {
		width: 300px;
		margin: 10px auto;
	}

}


/*--------------
 mmenu-override
---------------*/
.mm-page {
	height: 100%;
}
#mm-blocker {
	background: -moz-linear-gradient(45deg, rgba(131,182,230,0.9) 0%, rgba(66,193,204,0.9) 15%, rgba(78,202,146,0.9) 28%, rgba(119,192,68,0.9) 43%, rgba(242,196,73,0.9) 60%, rgba(242,196,73,0.9) 63%, rgba(238,135,157,0.9) 85%, rgba(131,138,230,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(131,182,230,0.9) 0%,rgba(66,193,204,0.9) 15%,rgba(78,202,146,0.9) 28%,rgba(119,192,68,0.9) 43%,rgba(242,196,73,0.9) 60%,rgba(242,196,73,0.9) 63%,rgba(238,135,157,0.9) 85%,rgba(131,138,230,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(131,182,230,0.9) 0%,rgba(66,193,204,0.9) 15%,rgba(78,202,146,0.9) 28%,rgba(119,192,68,0.9) 43%,rgba(242,196,73,0.9) 60%,rgba(242,196,73,0.9) 63%,rgba(238,135,157,0.9) 85%,rgba(131,138,230,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b383b6e6', endColorstr='#b3838ae6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: -1px 0 6px rgba(0, 0, 0, 0.35);
}


/*-------------
 breadcrumb-list
 breadcrumb-list-wh
-------------*/
.breadcrumb-list,
.breadcrumb-list-wh {
	font-size: 12px;
	width: 1024px;
	margin: 0 auto;
	padding: 5px 0;
}

.breadcrumb-list > li,
.breadcrumb-list-wh > li {
	display: inline-block;
}
.breadcrumb-list-wh > li,
.breadcrumb-list-wh > li a {
	color: #fff;
}

.breadcrumb-list > li + li,
.breadcrumb-list-wh > li + li {
	background: transparent url('../img/bread-right-angle.png') no-repeat;
	background-position: 6px center;
	background-size: 6px;
	padding-left: 20px;
}
.breadcrumb-list-wh > li + li {
	background-image: url('../img/bread-right-angle-wh.png');
}

.breadcrumb-list > li.home,
.breadcrumb-list-wh > li.home {
	background: transparent url('../img/bread-home.png') no-repeat 0 2px;
	background-size: 14px;
	padding-left: 20px;
}
.breadcrumb-list-wh > li.home {
	background-image: url('../img/bread-home-wh.png');
}
@media (max-width: 768px) {
	.breadcrumb-list,
	.breadcrumb-list-wh {
		width: 640px;
	}
}
@media (max-width: 640px) {
	.breadcrumb-list,
	.breadcrumb-list-wh {
		width: 100%;
		padding: 5px 10px
	}
}



/*---------------------
 kv
---------------------*/
.container .main .kv {
/*
	background: #616161 url('../img/kv.jpg') no-repeat top center;
	background-size: cover;
*/
	background-color: #333;
	position: relative;
	width: 100%;
	height: 382px;
	overflow: hidden;
}

.container .main .kv a {
	color: #00d9ff;
	text-decoration: none;
	outline: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.container .main .kv a:hover,
.container .main .kv a:focus {
	color: #c2f6ff;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.container .main .kv .cover {
/*
	background: -moz-linear-gradient(45deg, rgba(131,182,230,0.7) 0%, rgba(66,193,204,0.7) 15%, rgba(78,202,146,0.7) 28%, rgba(119,192,68,0.7) 43%, rgba(242,196,73,0.7) 60%, rgba(242,196,73,0.7) 63%, rgba(238,135,157,0.7) 85%, rgba(131,138,230,0.7) 100%);
	background: -webkit-linear-gradient(45deg, rgba(131,182,230,0.7) 0%,rgba(66,193,204,0.7) 15%,rgba(78,202,146,0.7) 28%,rgba(119,192,68,0.7) 43%,rgba(242,196,73,0.7) 60%,rgba(242,196,73,0.7) 63%,rgba(238,135,157,0.7) 85%,rgba(131,138,230,0.7) 100%);
	background: linear-gradient(45deg, rgba(131,182,230,0.7) 0%,rgba(66,193,204,0.7) 15%,rgba(78,202,146,0.7) 28%,rgba(119,192,68,0.7) 43%,rgba(242,196,73,0.7) 60%,rgba(242,196,73,0.7) 63%,rgba(238,135,157,0.7) 85%,rgba(131,138,230,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b383b6e6', endColorstr='#b3838ae6',GradientType=1 );
*/
	background: transparent url('/common/img/kv-ptn.png');
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
}

.container .main .kv .ttl {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #fff;
}

.container .main .kv .sttl {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #fff;
}

.container .main .kv .txt {
	font-size: 14px;
	color: #a7a7a7;
}

.container .main .kv .logo {
	width: 582px;
	padding-top: 140px;
	margin: 0 auto;
}

.container .main .kv .logo .img {
	background: transparent url('../img/logo.png') no-repeat center;
	background-size: contain;
	display: block;
	padding-top: 11.12244%;
	position: relative;
	width: 100%;
}

.container .main .kv canvas {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}

@media (max-width: 768px) {
	.container .main .kv {
		height: 238px;
	}

	.container .main .kv .logo {
		width: 480px;
		padding-top: 90px;
	}

}
@media (max-width: 640px) {
	.container .main .kv {
		height: 180px
	}

	.container .main .kv .logo {
		width: 100%;
		padding: 60px 20px 0 20px;
	}
}



/*---------------------
 kv-mini
---------------------*/
.container .main .kv-mini {
	background: #83b6e6; /* Old browsers */
	background: -moz-linear-gradient(45deg, #83b6e6 0%, #42c1cc 15%, #4eca92 28%, #77c044 43%, #f2c449 60%, #f2c449 63%, #ee879d 85%, #838ae6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #83b6e6 0%,#42c1cc 15%,#4eca92 28%,#77c044 43%,#f2c449 60%,#f2c449 63%,#ee879d 85%,#838ae6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #83b6e6 0%,#42c1cc 15%,#4eca92 28%,#77c044 43%,#f2c449 60%,#f2c449 63%,#ee879d 85%,#838ae6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b6e6', endColorstr='#838ae6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.container .main .kv-mini .inner {
	width: 1024px;
	margin: 0 auto;
	padding: 25px 0;
}
.container .main .kv-mini .ttl {
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 24px;
	font-weight: bold;
}
@media (max-width: 768px) {
	.container .main .kv-mini .inner {
		width: auto;
		padding: 25px 10px;
	}
}



/*---------------------
 ribbon
---------------------*/
.container .main .ribbon {
	width: 100%;
	height: 144px;
	background-color: #009587;
}
.container .main .ribbon.bgc-yellow {
	background-color: #FDD835;
}


/*-----------------
 mod-ttl01
-----------------*/
.mod-ttl01 {
	box-sizing: border-box;
	border-bottom: 1px solid #5fa1c3;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
	margin: 20px auto;
}
@media (max-width: 640px) {
	.mod-ttl01 {
		margin:20px 10px;
	}
}


/*-----------------
 mod-ttl02
-----------------*/
.mod-ttl02 {
	box-sizing: border-box;
	padding-bottom: 5px;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 15px;
	overflow: hidden;
	margin: 10px auto;
}
@media (max-width: 640px) {
	.mod-ttl02 {
		margin:10px 10px;
	}
}


/*---------------------
 item-list
---------------------*/
.item-list {
	overflow: hidden;
	margin-right: -10px;
	margin-bottom: -10px;
	padding: 40px 0;
}
.item-list > li {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	float: left;
	width: 334px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.item-list > li .thum {
	background: #333 url('../img/thum-1024x512.jpg') no-repeat center;
	background-size: contain;
	padding-top: 50%;
	width: 100%;
	position: relative;
}
.item-list > li .thum.fixed-height {
	background-size: cover;
	background-position: top center;
	padding-top: 0;
	height: 150px;
}
.item-list > li .thum .ttl {
	background: transparent -webkit-linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 100%);
	background: transparent -moz-linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 100%);
	background: transparent linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 100%);
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 40px 10px 10px;
	position: absolute;
	left: 0;
	line-height: 1.4;
	bottom: 0;
	width: 100%;
}
.item-list > li .caption {
	padding: 10px;
}
.item-list > li .caption .ttl {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 10px;
}
.item-list > li .caption .txt {
	color: #a7a7a7;
	font-size: 14px;
	margin-bottom: 10px;
}
.item-list > li .caption .dl-list {

}
.item-list > li .caption .dl-list > dt {
	color: #a7a7a7;
	font-size: 14px;
	border-left: 3px solid #fbc02d;
	margin-bottom: 10px;
	padding-left: 5px;
}
.item-list > li .caption .dl-list > dd {
	color: #a7a7a7;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 8px;
}
.item-list > li .foot {
	border-top: 1px solid #ededed;
	padding: 10px;
}
.item-list > li .caption a,
.item-list > li .foot a {
	color: #2979ff;
	text-decoration: none;
	outline: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.item-list > li .caption a:hover,
.item-list > li .caption a:focus,
.item-list > li .foot a:hover,
.item-list > li .foot a:focus {
	color: #94BCFF;
	text-decoration: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

@media (max-width: 768px) {
	.item-list > li {
		width: 315px;
	}

}
@media (max-width: 640px) {

	.item-list {
		margin-right: 0;
		padding: 40px 10px;
	}
	.item-list > li {
		float: none;
		width: 100%;
		margin: 0 auto 10px;
	}
	.item-list > li:last-child {
		margin-bottom: 0; 
	}

}