/*---------------------
 kv
---------------------*/
.container .main .kv {
	background: #616161 url('../img/kv.jpg') no-repeat top center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 382px;
	overflow: hidden;
}

.container .main .kv a {
	color: #00d9ff;
	text-decoration: none;
	outline: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.container .main .kv a:hover,
.container .main .kv a:focus {
	color: #c2f6ff;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.container .main .kv .cover {
	background: -moz-linear-gradient(45deg, rgba(131,182,230,0.7) 0%, rgba(66,193,204,0.7) 15%, rgba(78,202,146,0.7) 28%, rgba(119,192,68,0.7) 43%, rgba(242,196,73,0.7) 60%, rgba(242,196,73,0.7) 63%, rgba(238,135,157,0.7) 85%, rgba(131,138,230,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(131,182,230,0.7) 0%,rgba(66,193,204,0.7) 15%,rgba(78,202,146,0.7) 28%,rgba(119,192,68,0.7) 43%,rgba(242,196,73,0.7) 60%,rgba(242,196,73,0.7) 63%,rgba(238,135,157,0.7) 85%,rgba(131,138,230,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(131,182,230,0.7) 0%,rgba(66,193,204,0.7) 15%,rgba(78,202,146,0.7) 28%,rgba(119,192,68,0.7) 43%,rgba(242,196,73,0.7) 60%,rgba(242,196,73,0.7) 63%,rgba(238,135,157,0.7) 85%,rgba(131,138,230,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b383b6e6', endColorstr='#b3838ae6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
}

.container .main .kv .ttl {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #fff;
}

.container .main .kv .sttl {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #fff;
}

.container .main .kv .txt {
	font-size: 14px;
	color: #a7a7a7;
}

.container .main .kv canvas {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}

@media (max-width: 768px) {
	.container .main .kv {
		height: 238px;
	}
}
@media (max-width: 640px) {
	.container .main .kv {
		height: 180px
	}
}



/*---------------------
 kv-mini
---------------------*/
.container .main .kv-mini {
	background: #83b6e6; /* Old browsers */
	background: -moz-linear-gradient(45deg, #83b6e6 0%, #42c1cc 15%, #4eca92 28%, #77c044 43%, #f2c449 60%, #f2c449 63%, #ee879d 85%, #838ae6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #83b6e6 0%,#42c1cc 15%,#4eca92 28%,#77c044 43%,#f2c449 60%,#f2c449 63%,#ee879d 85%,#838ae6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #83b6e6 0%,#42c1cc 15%,#4eca92 28%,#77c044 43%,#f2c449 60%,#f2c449 63%,#ee879d 85%,#838ae6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b6e6', endColorstr='#838ae6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.container .main .kv-mini .inner {
	width: 1024px;
	margin: 0 auto;
	padding: 25px 0;
}
.container .main .kv-mini .ttl {
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 24px;
	font-weight: bold;
}
@media (max-width: 768px) {
	.container .main .kv-mini .inner {
		width: auto;
		padding: 25px 10px;
	}
}



/*---------------------
 ribbon
---------------------*/
.container .main .ribbon {
	width: 100%;
	height: 144px;
	background-color: #009587;
}
.container .main .ribbon.bgc-yellow {
	background-color: #FDD835;
}


/*-----------------
 mod-ttl01
-----------------*/
.mod-ttl01 {
	box-sizing: border-box;
	border-bottom: 1px solid #5fa1c3;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
	margin: 20px auto;
}
@media (max-width: 640px) {
	.mod-ttl01 {
		margin:20px 10px;
	}
}


/*-----------------
 mod-ttl02
-----------------*/
.mod-ttl02 {
	box-sizing: border-box;
	padding-bottom: 5px;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 15px;
	overflow: hidden;
	margin: 10px auto;
}
@media (max-width: 640px) {
	.mod-ttl02 {
		margin:10px 10px;
	}
}


/*---------------------
 item-list
---------------------*/
.item-list {
	overflow: hidden;
	margin-right: -10px;
	margin-bottom: -10px;
	padding: 40px 0;
}
.item-list > li {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	float: left;
	width: 334px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.item-list > li .thum {
	background: #333 url('../img/thum-640x300.jpg') no-repeat center;
	background-size: contain;
	padding-top: 46.88888%;
	width: 100%;
	position: relative;
}
.item-list > li .thum.fixed-height {
	background-size: cover;
	background-position: top center;
	padding-top: 0;
	height: 150px;
}
.item-list > li .thum .ttl {
	background: transparent -webkit-linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 100%);
	background: transparent -moz-linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 100%);
	background: transparent linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 100%);
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 40px 10px 10px;
	position: absolute;
	left: 0;
	line-height: 1.4;
	bottom: 0;
	width: 100%;
}
.item-list > li .caption {
	padding: 10px;
}
.item-list > li .caption .ttl {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 10px;
}
.item-list > li .caption .txt {
	color: #a7a7a7;
	font-size: 14px;
	margin-bottom: 10px;
}
.item-list > li .caption .dl-list {

}
.item-list > li .caption .dl-list > dt {
	color: #a7a7a7;
	font-size: 14px;
	border-left: 3px solid #fbc02d;
	margin-bottom: 10px;
	padding-left: 5px;
}
.item-list > li .caption .dl-list > dd {
	color: #a7a7a7;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 8px;
}
.item-list > li .foot {
	border-top: 1px solid #ededed;
	padding: 10px;
}
.item-list > li .caption a,
.item-list > li .foot a {
	color: #2979ff;
	text-decoration: none;
	outline: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.item-list > li .caption a:hover,
.item-list > li .caption a:focus,
.item-list > li .foot a:hover,
.item-list > li .foot a:focus {
	color: #94BCFF;
	text-decoration: none;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

@media (max-width: 768px) {
	.item-list > li {
		width: 315px;
	}

}
@media (max-width: 640px) {

	.item-list {
		margin-right: 0;
		padding: 40px 0;
	}
	.item-list > li {
		float: none;
		width: 100%;
		margin: 0 auto 10px;
	}
	.item-list > li:last-child {
		margin-bottom: 0; 
	}

}