body {
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	margin: 0px;
	background-color: #000000;
	overflow: hidden;
}

#playbtn {
	width:80px;
	opacity:0.8;
	position:absolute;
	bottom:0;
	z-index:100;
	padding:10px;
	background-color:#0ff;
	font-size:14px;
	text-align:center;
	color: #ededed;
	font-weight: bold;
	box-sizing:border-box;
}

#fullscreenbtn {
	width:80px;
	opacity:0.8;
	position:absolute;
	bottom:0;
	z-index:100;
	padding:10px;
	background-color:#ff0;
	font-size:14px;
	text-align:center;
	color: #ededed;
	font-weight: bold;
	box-sizing:border-box;
}