body {
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	margin: 0px;
	background-color: #000000;
	overflow: hidden;

	width:100%;
	height:100%;
}

canvas {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
